<div class="py-5">
  <%= link_to t('routines.new_routine'), new_routine_path, class: "bg-secondary  text-white font-bold py-2 px-4 rounded-xl border border-secondary hover:bg-background hover:text-secondary" %>
</div>