<div class="py-5">
  <%= link_to new_patient_path, class: "group inline-flex items-center px-3 py-1.5 border border-primary text-xs font-medium rounded-lg text-primary bg-white hover:bg-primary hover:text-white transition-colors duration-200" do %>
    <%= icon "plus", class: "mr-2 text-primary group-hover:text-white transition-colors duration-200", data: { color: "#5B8DAE" } %>
    <%= t('patients.new_patient') %>
  <% end %>
</div>