<footer class="bg-neutral-dark text-white">
  <div class="max-w-screen-xl mx-auto px-4 py-6 md:flex justify-between items-center">
    <div class="text-sm text-gray-400">
      © <%= Time.now.year %> Todos los derechos reservados.
    </div>
    <div class="text-sm text-gray-400">
      Hecho con <span class="text-red-500">&hearts;</span> por Alejandro Prado
    </div>
  </div>
</footer>